mat-card {
  height: 250px;
}

form {
  width: 75%;
  margin: 60px auto auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.btn-group {
  right: 10px;
  bottom: 10px;
  position: absolute;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}
