<div class="container">
    <div class="cells cell-1">
      <api-players-list [players]="players$ | async"
                        (selected)="selectPlayer($event)">

      </api-players-list>
    </div>

    <div class="cells cell-2">
      <api-players-details [selectedPlayer]="currentPlayer$"
                           [group]="form"
                           (cancelled)="resetCurrentPlayer($event)"
                           (deleted)="deletePlayer($event)"
                           (saved)="savePlayer($event)">

      </api-players-details>
    </div>

  </div>
