@import '../sass/variables';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,700');

* {
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(150deg, #f6f7f8 35%, #f0f2f4 35%) no-repeat fixed;
}

mat-card {
  background-color: white !important;
}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
}

a {
  color: inherit;
}

button {
  padding: 2px !important;
}

.footer-hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #d9d9d9, rgba(0, 0, 0, 0));
}

.btn-group {
  float: right;
  padding-right: 10px;
  button {
    margin: 5px;
    font-size: 18px;
  }
}

.container {
  width: 80%;
  display: flex;
  margin: 80px auto;
  justify-content: space-around;
}

.cells {
  width: 40%;
  padding: 15px;
}
