mat-card {
  position: relative;
}

form {
  margin: 20px auto;
  width: 80%;
}

mat-form-field {
  width: 100%;
}

mat-icon {
  color: white;
}

button {
  background-color: #26293A !important;
  bottom: 0;
  position: absolute;
  margin: 15px;
}

.add {
  right: 0;
}

.cancel {
  left: 0;
}

.year {
  color: #c2c2c2;
  margin-top: 5px;
}
