mat-card {
  height: 250px;
}

mat-card * {
  color: #a6a6a6;
}

form {
  margin: 60px auto auto;
  width: 75%;
}

mat-icon {
  width: 50px;
  height: 50px;
  color: white !important;
  font-size: 50px;
}

button {
  margin-left: 10px;
}

.submit {
  color: white !important;
}

.btn-group {
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.h1 {
  top: 10px;
  left: 15px;
  font-size: 30px;
  position: absolute;
  color: hsl(0, 0%, 93%);
  font-family: 'Oswald', sans-serif;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.big {
  width: 75%;
}

.half {
  width: 50%;
}

.mini {
  width: 20%;
}

.card-header {
  right: 15px;
  position: absolute;
}
