@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Oswald:700');

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: no-repeat fixed linear-gradient(70deg, hsl(0, 0%, 91%)  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, hsl(0, 0%, 93%) 60%, whitesmoke 60%);
}

mat-card {
  background-color: white !important;
}

.container {
  width: 80%;
  display: flex;
  margin: 80px auto;
  justify-content: space-around;
}

.cells {
  width: 40%;
  padding: 15px;
}
