<div class="container">

    <div class="cells cell-1">
      <api-animal-list [animals]="animals"
                       (select)="selectAnimal($event)">

      </api-animal-list>
    </div>

    <div class="cells cell-2">
      <api-animal-details [selectedAnimal]="selectedAnimal"
                        [group]="form"
                        (cancelled)="cancel($event)"
                        (deleted)="delete($event)"
                        (saved)="save($event)">

      </api-animal-details>
    </div>

  </div>

<footer>
  <hr class="footer-hr">
  <div class="btn-group">

    <a target="_blank" href="https://www.linkedin.com/in/micah-torres-794558129/">
      <button mat-mini-fab ><i class="fa fa-linkedin"></i></button>
    </a>

    <a target="_blank" href="https://www.instagram.com/_____micah/">
      <button mat-mini-fab><i class="fa fa-instagram"></i></button>
    </a>

    <a target="_blank" href="http://youtube-playlist-micah.surge.sh/">
      <button mat-mini-fab><i class="fa fa-youtube"></i></button>
    </a>

    <a target="_blank" href="https://github.com/micah97/API">
      <button mat-mini-fab><i class="fa fa-github"></i></button>
    </a>

    <a href="mailto:micahtorres13@gmail.com">
      <button mat-mini-fab><i class="fa fa-envelope"></i></button>
    </a>

  </div>
</footer>
