@import url('https://fonts.googleapis.com/css?family=Oswald:100,700');

* {
  font-family: 'Oswald', sans-serif;
}

.card-header {
  color: #ffd700;
  border-radius: 2px;
  font-weight: bold;
  background-color: hsl(0, 0%, 25%);
  border-bottom: 2px solid #D52941;
  font-size: 27px;
  padding: 20px 20px 10px 20px;
}

.card-padding {
  padding: 20px;
}

mat-card {
  background-color: #4d4d4d !important;
  padding: 0 !important;

}

mat-list-item {
  color: #b3b3b3 !important;
}

body {
  height: 100%;
  margin: 0;
  background-image: -webkit-linear-gradient(150deg, #333333 35%, #262626 35%);
}

html {
  height: 100%;
}

.header {
  color: #ffd700;
  margin: 15px;
  font-weight: bold;
  font-size: 60px;
}

.section {
  width: 40%;
  margin: 0 auto auto auto;
}

.container {
  width: 1500px;
  margin: auto;
  display: flex;
  padding-top: 30px;
}
