mat-card {
  z-index: -2;
}

h1 {
  margin: 0;
  font-weight: 500;
}

h3 {
  font-weight: 500 !important;
}

hr {
  float: left;
  width: 200px;
  border: solid 2px #39677C;
}

.paw {
  top: 10%;
  right: 10%;
  z-index: -1;
  font-size: 200px;
  position: absolute;
  color: hsl(0, 0%, 98%);
}

.row {
  display: flex;
  justify-content: space-between;
}

.fifty {
  width: 50%;
}
