mat-grid-list {
  margin: auto;
  overflow: scroll;
  max-height: 775px;
  max-width: 1000px;
}

mat-grid-tile {
  color: #22272E;
  background-color: white;
  transition: box-shadow .3s;
}

mat-grid-tile:hover {
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

span {
  font-size: 20px;
}

.selected {
  background-color: rgb(247, 59, 21);
  color: white !important;
}

.selected:hover {
  background-color: #F95738;
}
