@import url('https://fonts.googleapis.com/css?family=Roboto:300|Montserrat:700');
@import './sass/variables';

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(150deg, whitesmoke 35%, hsl(0, 0%, 93%) 35%) no-repeat fixed;
}

hr {
  float: left;
  width: 200px;
  border: solid 2px $accent;
}

.container {
  width: 80%;
  display: flex;
  margin: 40px auto;
  justify-content: space-around;
}

.cells {
  width: 40%;
  padding: 15px 15px auto 15px;
}
