.card {
  width: 70%;
  padding: 20px;
  margin: 60px auto auto;
  border: solid 1px #404040;
}

.h1 {
  font-size: 45px;
  color: #404040;
  font-weight: 700;
}

.scroll {
  overflow: scroll;
  max-height: 550px;
}
