<div class="card" *ngIf="taco">
  <div class="h1">A GLORIOUS TACO</div>

  <div class="scroll">
    <div class="row">
      <h2>
        {{taco.base_layer.name}}
      </h2>
      <p>{{taco.base_layer.recipe}}</p>
    </div>

    <div class="row">
      <h2>
        {{taco.condiment.name}}
      </h2>
      <p>{{taco.condiment.recipe}}</p>
    </div>

    <div class="row">
      <h2>
        {{taco.mixin.name}}
      </h2>
      <p>{{taco.mixin.recipe}}</p>
    </div>

    <div class="row">
      <h2>
        {{taco.seasoning.name}}
      </h2>
      <p>{{taco.seasoning.recipe}}</p>
    </div>

    <div class="row">
      <h2>
        {{taco.shell.name}}
      </h2>
      <p>{{taco.shell.recipe}}</p>
    </div>
  </div>
</div>
