@import '../../sass/variables';

mat-card {
  min-height: 100px;
}

mat-list {
  overflow: scroll;
  margin-top: 70px;
  max-height: 500px;
}

mat-list-item {
  border-radius: 35px;
}

mat-list-item:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

mat-form-field {
  float: right;
}

.hundred {
  right: 5%;
  position: absolute;
}

.selected {
  color: white;
  background-color: $primary !important;
}

.selected:hover {
  background-color: $primary;
}
