@import '../../sass/variables';

mat-card {
  min-height: 100px;
}

mat-list {
  overflow: scroll;
  margin-top: 30px;
  max-height: 500px;
}

mat-list-item {
  border-radius: 35px;
}

mat-list-item:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

mat-form-field {
  display: flex;
  justify-content: center;
}

.hundred {
  left: 5%;
  right: 5%;
  top: -30px;
  z-index: 10;
  color: white;
  position: absolute;
  border-radius: 35px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.selected {
  color: white;
  background-color: $primary !important;
}

.selected:hover {
  background-color: $primary;
}
