@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(150deg, whitesmoke 35%, hsl(0, 0%, 93%) 35%) no-repeat fixed;
}

mat-card {
  padding: 0 !important;
  background-color: white;
  overflow: hidden;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.cells {
  width: 40%;
  padding: 15px;
}

.card-padding {
  padding: 20px;
}

.card-header {
  font-size: 27px;
  color: #0869aa;
  padding: 0 20px;
  border-radius: 2px;
  border-bottom: 1px solid #0A81D1;
  text-transform: uppercase;
}

.header {
  font-family: "Oswald", sans-serif;
}
