<div class="header">
  <small>The history of</small>
  <div class="h1">INSTRUMENTS</div>
</div>

  <div class="container">

    <div class="cells cell-1">
      <api-music-list [instruments]="instruments$ | async"
                      (selected)="selectInstrument($event)">

      </api-music-list>
    </div>

    <div class="cells cell-2">
      <api-music-details [selectedInst]="currentInstrument$"
                         [group]="form"
                         (saved)="saveInstrument($event)"
                         (deleted)="deleteInstrument($event)"
                         (cancelled)="resetCurrentInstrument($event)">

      </api-music-details>
    </div>

  </div>
