mat-card {
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
}

img {
  max-width: 500px;
  max-height: 350px;
  margin-bottom: 45px;
}

.desc {
  right: -60px;
  padding: 20px;
  bottom: -30px;
  color: white;
  max-width: 400px;
  position: absolute;
  border-radius: 5px;
  background-color: hsl(60, 3%, 15%);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
