span {
  color: white;
  font-size: 80px;
  font-weight: 700;
  margin-left: 10px;
}

hr {
  width: 100%;
  margin-top: -15px;
  border: solid 1px #F95738;
}

.h1 {
  top: 20%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 1700) {
  span {
    display: none !important;
  }
}
